<header class="header prl45 container">
    <div class="header__contacts"> 
        <div class="header__contacts__phone">
            <a class="href">Chat with us</a>
            <p>+420 336 775 664</p>
            <p>info@freshnesecom.com</p>
        </div>
        <div class="header__contacts__nav">
            <a class="href">Blog</a>
            <a class="href">About Us</a>
            <a class="href">Careers</a>
        </div>
    </div>
    <hr class="header__line">
    <div class="header__info">
        <div class="header__logo">
            <img class="header__logo__img" routerLink="/home" src="assets/icons/Brand.png" alt="">
        </div>
        <app-search-input></app-search-input>
        <div class="header__user">
            <a routerLink="/profile" class="user__profile"><img src="assets/icons/user.png" alt=""></a>
            <app-basket></app-basket>
        </div>
    </div>
</header>