.mainSlider {
    background-color: #fff;
    position: relative;
    box-shadow: inset 0px -20px 20px 20px #ffffff;
    overflow: hidden;
    border-top: 1px solid #F9F9F9;
    border-bottom: 1px solid #F9F9F9;
    border-radius: 0px;
    padding: 69px 45px 90px;
    &__info {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: #151515;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 41.5px;
        &__btn {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
            color: #151515;
            display: flex;
            align-items: center;
            img {
                transform: rotateZ(270deg);
            }
        }
    }
    .slideLeft {
        position: absolute;
        z-index: 100;
        left: 0;
        background-color: black;
        padding: 17px 13px;
        border-radius: 0px 12px 12px 0px;
        top: 50%;
        box-shadow: 0 0px 60px 75px #ffffff;
    }
    .slideRight {
        position: absolute;
        z-index: 100;
        right: 0;
        background-color: black;
        padding: 17px 13px;
        border-radius: 12px 0 0 12px;
        top: 50%;
        box-shadow: 0 0px 60px 75px #ffffff;
        img {
            transform: rotateZ(180deg);
        }
    }
    .comment {
        width: 369px;
        height: 198px;
        padding: 24px 32px 0;
        background: #FFFFFF;
        border: 1px solid #F1F1F1;
        border-radius: 12px;
        margin: 0 16px;
        position: relative;
        &__body {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 22px;
            text-align: center;
            color: #151515;
            margin-bottom: 24px;
        }
        &__customer {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            text-align: center;
            color: #A9A9A9;
        }
        &__img {
            object-fit: cover;
            object-position: center;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            background-color: white;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -24px;
        }
    }
}

.carousel {
    display: flex;
    position: relative;
    left: -219px;
}