<app-header></app-header>
<div class="bestProd container">
    <div class="bestProd__categories">
        <h4 class="bestProd__categories__title">Category menu</h4>
        <ul class="bestProd__categories__list">
            <li><a href="">Bakery</a></li>
            <li><a href="">Fruit and vegetables</a></li>
            <li><a href="">Meat and fish</a></li>
            <li><a href="">Drinks</a></li>
            <li><a href="">Kitchen</a></li>
        </ul>
        <button class="bestProd__categories__showMore">More products &nbsp; &nbsp; ></button>
    </div>
    <div class="bestProd__banners">
        <div class="bestProd__banners__banner banner">
            <h5 class="banner__subtitle">Banner subfocus</h5>
            <h3 class="banner__title">Space for heading</h3>
            <button class="banner__btn">Read recepies &nbsp; <img src="assets/icons/chevron.png" alt=""></button>
        </div>
        <div class="bestProd__banners__banner banner">
            <h5 class="banner__subtitle">Banner subfocus</h5>
            <h3 class="banner__title">Space for heading</h3>
            <button class="banner__btn">Read recepies &nbsp; <img src="assets/icons/chevron.png" alt=""></button>
        </div>
    </div>
</div>
<div class="bestProd container">
    <div class="bestProd__categories">
        <h4 class="bestProd__categories__title">Best selling products</h4>
        <ul class="bestProd__categories__list">
            <li><a href="">Kitchen</a></li>
            <li><a href="">Meat and fish</a></li>
            <li><a href="">Special nutrition</a></li>
            <li><a href="">Pharmacy</a></li>
            <li><a href="">Baby</a></li>
        </ul>
        <button class="bestProd__categories__showMore">More products &nbsp; &nbsp; ></button>
    </div>
    <div class="bestProd__products">
        <div *ngFor="let product of productsArr.slice(0, 3); let i = index" class="smallProduct">
            <app-small-product [data]="product"></app-small-product>
        </div>
    </div>
</div>
<div class="bestProd container">
    <div class="bestProd__categories">
        <h4 class="bestProd__categories__title">Best from Farmers</h4>
        <ul class="bestProd__categories__list">
            <li><a href="">Carrots</a></li>
            <li><a href="">Tomatoes</a></li>
            <li><a href="">Potatoes</a></li>
            <li><a href="">Chicken</a></li>
            <li><a href="">Pork</a></li>
        </ul>
        <button class="bestProd__categories__showMore">More products &nbsp; &nbsp; ></button>
    </div>
    <div class="bestProd__products">
        <div *ngFor="let product of productsArr.slice(1, 4);; let i = index" class="smallProduct">
            <app-small-product [data]="product"></app-small-product>
        </div>
    </div>
</div>
<div class="someProd container">
    <div class="someProd__info">
        <h3 class="section__title">Section Headline</h3>
        <a class="section__btn">Button <img src="assets/icons/chevron.png" alt=""></a>
    </div>
    <div class="someProd__products">
        <div *ngFor="let product of productsArr.slice(0, 4); let i = index" class="smallProduct">
            <app-small-product [data]="product"></app-small-product>
        </div>
    </div>
    
</div>
<app-comments-slider></app-comments-slider>
<div class="blogs container">
    <div class="blogs__info">
        <h3 class="section__title">Read our Blog posts</h3>
        <a class="section__btn">Go to Blog <img src="assets/icons/chevron.png" alt=""></a>
    </div>
    <div class="blogs__view">
        <div class="blogs__blog_big bigBlog">
            <div class="bigBlog__info">
                <h3 class="bigBlog__title">{{blogsArr[0]?.body}}</h3>
                <div class="blog__author blog__author-white">
                    <img class="blog__author__img" src="assets/images/customer-profile.png" alt="">
                    <p class="blog__author__name">{{blogsArr[0]?.author}}</p>
                    <span class="blog__author__date">{{blogsArr[0]?.date}}</span>
                </div>
            </div>
            
        </div>
        <div class="blogs__blog_vertical">
            <img class="blogs__blog_vertical__img" src="assets/images/blog.jpg" alt="">
            <h4 class="blogs__blog_vertical__title">{{blogsArr[1]?.body}}</h4>
            <div class="blog__author">
                <p class="blog__author__name">{{blogsArr[1]?.author}}</p>
                <span class="blog__author__date">{{blogsArr[1]?.date}}</span>
            </div>
        </div>
        <div class="blogs__blog_smallBlogs">
            <div class="smallBlog" *ngFor="let blog of blogsArr.slice(2, 5)">
                <div class="smallBlog__info">
                    <h4 class="smallBlog__title">{{blog?.body}}</h4>
                    <div class="blog__author">
                        <p class="blog__author__name">{{blog?.author}}</p>
                        <span class="blog__author__date">{{blog?.date}}</span>
                    </div>
                </div>
                <img class="smallBlog__img" src="assets/images/blog.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<!-- <div *ngFor="let blog of blogsArr">
    <h1>{{blog.author}}</h1>
</div> -->
<app-footer></app-footer>