<img class="smallProduct__img" src="assets/images/product.jpg" alt="">
<h3 class="smallProduct__title">{{data.title}}</h3>
<h3 class="smallProduct__description">{{data.description}}</h3>
<div class="smallProduct__bottom">
    <div class="smallProduct__price">
        <h4>{{data.price | discount:data.discount}}{{data.currency}}</h4>
        <h4 *ngIf="data.discount" class="smallProduct__price_discounted">{{data.price}}{{data.currency}}</h4>
    </div>
    <button class="smallProduct__btn" (click)="addToBasket(data)">Buy now</button>
</div>
<span class="smallProduct__discount">{{data.discount ? '-' + data.discount + '%' : ''}}</span>
