<footer class="footer container">
    <div class="footer__lists">
        <div class=" list">
            <h4 class="list__title">Get in touch</h4>
            <ul class="list__ul">
                <li><a href="">About Us</a></li>
                <li><a href="">Careers</a></li>
                <li><a href="">Press Releases</a></li>
                <li><a href="">Blog</a></li>
            </ul>
        </div>
        <div class="list">
            <h4 class="list__title">Connections</h4>
            <ul class="list__ul">
                <li><a href="">Facebook</a></li>
                <li><a href="">Twitter</a></li>
                <li><a href="">Instagram</a></li>
                <li><a href="">Youtube</a></li>
                <li><a href="">LinkedIn</a></li>
            </ul>
        </div>
        <div class="list">
            <h4 class="list__title">Earnings</h4>
            <ul class="list__ul">
                <li><a href="">Become an Affiliate</a></li>
                <li><a href="">Advertise your product</a></li>
                <li><a href="">Sell on Market</a></li>
            </ul>
        </div>
        <div class="list">
            <h4 class="list__title">Account</h4>
            <ul class="list__ul">
                <li><a href="">Your account</a></li>
                <li><a href="">Returns Centre</a></li>
                <li><a href="">100 % purchase protection</a></li>
                <li><a href="">Chat with us</a></li>
                <li><a href="">Help</a></li>
            </ul>
        </div>
    </div>
    <div class="footer__tags">
        <h4 class="footer__tags__title">
            Product tags
        </h4>
        <div style="display: flex; flex-wrap: wrap;">
            <a href="" class="footer__tags__tag">Beans</a>
            <a href="" class="footer__tags__tag">Carrots</a>
            <a href="" class="footer__tags__tag">Apples</a>
            <a href="" class="footer__tags__tag">Garlic</a>
            <a href="" class="footer__tags__tag">Mushrooms</a>
            <a href="" class="footer__tags__tag">Tomatoes</a>
            <a href="" class="footer__tags__tag">Chilli peppers</a>
            <a href="" class="footer__tags__tag">Broccoli</a>
            <a href="" class="footer__tags__tag">Watermelons</a>
            <a href="" class="footer__tags__tag">Oranges</a>
            <a href="" class="footer__tags__tag">Bananas</a>
            <a href="" class="footer__tags__tag">Grapes</a>
            <a href="" class="footer__tags__tag">Cherries</a>
            <a href="" class="footer__tags__tag">Meat</a>
            <a href="" class="footer__tags__tag">Seo tag</a>
            <a href="" class="footer__tags__tag">Fish</a>
            <a href="" class="footer__tags__tag">Seo tag</a>
            <a href="" class="footer__tags__tag">Fresh food</a>
            <a href="" class="footer__tags__tag">Lemons</a>
        </div>
    </div>
    <div class="footer__rights">
        Copyright © 2020 petrbilek.com
    </div>
</footer>