/* You can add global styles to this file, and also import other style files */

@import "assets/nullstyle.scss";


body {
    background: #F9F9F9;
}
.container {
    width: 1260px;
    margin: 0 auto;
    border-left: 2px solid #80808020;
    border-right: 2px solid #80808020;
}

.toast-title {
    font-family: "Poppins";
    margin-bottom: 4px;
}

.toast-message {
    font-family: "Poppins";
}